.container {
  padding: 10px;
  display: flex;
}

.leftContainer {}

.LineContainer {
  width: 80vw;
  height: 70vh;
  background-color: white; /* 设置卡片的背景颜色 */
  border: 1px solid #ccc; /*设置边框*/
  border-radius: 8px; /* 设置边框圆角 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0); /* 初始时阴影不显示 */
  transition: box-shadow 0.3s; /* 平滑过渡效果 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.LineContainer:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 鼠标悬停时的阴影效果 */
}

.dataContent {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.UAContent {
  flex: 1;
}

.ZXContent {
  flex: 1;
  margin-left: 10px;
}

.rightContent {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.downloadBtn {
  margin-bottom: 40px;
}